body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* #region header */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
}

.header-logo {
    font-weight: 700;
    font-size: 30px;
    /* line-height: 28px; */ 
    line-height: 1;
    color: #173a56;
    display: flex;
    gap: 16px;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 30px;
    margin-left: 237px;
    margin-right: 73px;
}


.header-nav-link {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    color: #22343d;
    padding-top: 26px;
    padding-bottom: 26px;
    display: block;
}


.current {
    font-weight: 600;
}

.header-button-list {
    display: flex;
    gap: 21px;
}

.header-button {
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.sign-in {
    background-color: #fff;
    border: 1px solid #bcd0e5;
    width: 105px;
    height: 42px;
    color: #173a56;
}

.sign-up {
    color: #fff;
    width: 113px;
    height: 42px;
    background-color: #02897a;;
}
/* #endregion */

/* #region hero */
.hero-section {
    padding: 25px 0 55px 0
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 35px;
}

.hero-wrap {
    width: 465px;
}

.hero-title {
    font-weight: 700;
    font-size: 40px;
    /* line-height: 60px; */ 
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 18px;
}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    /* line-height: 28px; */ 
    line-height: 1.56;
    color: #22343d;
    margin-bottom: 45px;
}

.hero-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-get-started {
    border-radius: 4px;
    width: 178px;
    height: 53px;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.btn-watch-video {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    width: 164px;
    height: 53px;
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
}

.watch-video-icon {
    fill: #02897a;
    margin-right: 8px;
}
/* #endregion */

/* #region product */
.product-section {
    padding: 55px 0 20px 0;
}

.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    width: 539px;
    margin: 0 auto 50px;
    padding: 0 24px;
}

.product-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.product-item {
    display: block;
    width: calc((100% - 90px) / 4);
}

.product-icon {
    fill: #ffffff;
}

.product-icon-border {
    width: 54px;
    height: 54px;
    border: 1px solid transparent;
    border-radius: 19px;
    background-color: #02897a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.green {
    background-color: #02897a;
}

.blue {
    background-color: #4d8dff;
}

.purple {
    background-color: #740a76;
}

.red {
    background-color: #f03e3d;
}

.product-subtitle {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 13px;
}

.product-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

.product-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-bottom: 50px;
}
/* #endregion */

/* #region management */
.management-section {
    padding: 20px 0 50px 0;
}

.management-container {
    display: flex;
    align-items: center;
    gap: 84px;
}

.management-wrap {
    width: 486px;
}

.management-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    width: 224px;
    display: block;
    margin-bottom: 25px;
}

.management-title-span {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    width: 224px;
    display: block;
    margin-bottom: 8px;
}

.management-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.63;
    color: #22343d;
    margin-bottom: 30px;
}

.management-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.management-item-title {
    font-weight: 600;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.63;
    color: #22343d;
    margin-bottom: 12px;
}

.management-item-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.63;
    color: #22343d;
}
/* #endregion */

/* #region customer */
.customer-section {
    padding: 50px 0;
}

.customer-container {
    display: flex;
    align-items: center;
    gap: 84px;
}

.customer-wrap {
    width: 450px;
}

.customer-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    min-width: 303px;
    display: block;
    margin-bottom: 25px;
}

.customer-title-span {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    width: 303px;
    display: block;
    margin-bottom: 8px;
}

.customer-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.63;
    color: #22343d;
    margin-bottom: 30px;
}

.customer-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.customer-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.customer-icon {
    fill: #ffffff;
}

.customer-icon-border {
    width: 35px;
    height: 35px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.yellow {
    background-color: #f90;;
}

.red {
    background-color: #f03e3d;;
}

.blue {
    background-color: #4d8dff;;
}

.customer-item-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.63;
    color: #22343d;
}
/* #endregion */

/* #region collaborative */
.collaborative-section {
    padding: 50px 0 75px;
}

.collaborative-container{
    display: flex;
    align-items: center;
    gap: 84px;
}

.collaborative-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    min-width: 226px;
    display: block;
    margin-bottom: 25px;
}

.collaborative-title-span {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    width: 226px;
    display: block;
    margin-bottom: 8px;
}

.collaborative-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.63;
    color: #22343d;
    margin-bottom: 30px;
}

.collaborative-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.collaborative-item-title {
    font-weight: 600;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.63;
    color: #22343d;
    margin-bottom: 12px;
}

.collaborative-item-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.63;
    color: #22343d;
}
/* #endregion */

/* #region staff */
.staff-section {
    padding: 75px 0 50px;
}

.staff-container {
    width: 916px;
    margin: 0 auto;
}

.staff-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 25px;
}

.staff-text {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 26px; */ 
    line-height: 1.625;
    text-align: center;
    color: #22343d;
    margin-bottom: 40px;
}

.staff-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 100px;
    margin-bottom: 50px;
}

.staff-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: calc((100% - 100px) / 2);
}

.reverse {
    flex-direction: row-reverse;
}

.staff-item-wrap {
    width: 281px;
    min-height: 50px;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.staff-item-text {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
}

.staff-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    width: 216px;
    height: 53px;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}
/* #endregion */

/* #region strategies */
.strategies-section {
    padding: 50px 0 85px;
}

.strategies-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 10px;
}

.strategies-text {
    width: 465px;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 40px;
}

.strategies-list {
    display: flex;
    gap: 30px;
}

.strategies-item {
    border: 1px solid #dedede;
    border-radius: 8px;
    width: calc((100% - 60px) / 3);
}

.startegies-item-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 0 40px;
}

.strategies-item-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    color: #22343d;
    padding-left: 24px;
}

.strategies-item-span {
    font-weight: 700;
    font-size: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    color: #22343d;
}

.strategies-item-title {
    font-weight: 700;
    font-size: 24px;
    /* line-height: 40px; */ 
    line-height: 1.67;
    color: #22343d;
    padding-left: 24px;
}

.current-title {
    color: #02897A;
}
/* #endregion */

/* #region price */
.price-section {
    padding: 85px 0 50px;
}

.price-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    text-align: center;
    margin-bottom: 10px;
}

.price-text {
    font-weight: 500;
    font-size: 16px;
    color: #22343d;
    text-align: center;
    margin-bottom: 40px;
}

.price-list {
    display: flex;
    gap: 72px;
}

.price-item {
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    width: calc((100% - 144px) /3);
    padding: 30px 0;
}

.price-item-title {
    font-weight: 700;
    font-size: 24px;
    /* line-height: 40px; */
    line-height: 1.67;
    text-align: center;
    margin-bottom: 8px;
}

.price-item-text {

    font-weight: 400;
    font-size: 16px;
    /* line-height: 40px; */
    line-height: 2.5;
    text-align: center;
    margin-bottom: 16px;
}

.price-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 16px;
}

.price {
    font-weight: 700;
    font-size: 76px;
    /* line-height: 100px; */
    line-height: 1.32;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}

.price-wrap-wrap {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.currency {
    font-weight: 700;
    font-size: 24px;
    /* line-height: 30px; */ 
    line-height: 1.25;
    letter-spacing: 0em;
}

.term {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 19px; */ 
    line-height: 1.19;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.price-property-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}

.price-property-text {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 22px; */
    line-height: 1.375;
    letter-spacing: 0.01em;
    text-align: center;
}

.price-btn {
    border-radius: 8px;
    width: 139px;
    height: 44px;
    background: #02897a;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    display: block;
    margin: 0 auto;
}

.price-item-current {
    background-color: #02897a;
    color: #ffffff;
}

.price-current {
    color: #ffffff;
}

.price-btn-current {
    background-color: #fff;
    color: #02897a;
}
/* #endregion */

/* #region reviews */
.reviews-section {
    padding: 50px 0;
}

.reviews-title {
    font-weight: 700;
    font-size: 32px;
    /* line-height: 57px; */
    line-height: 1.78125;
    letter-spacing: 0.01em;
    color: #22343d;
    text-align: center;
    margin-bottom: 10px;
}

.reviews-text {
    width: 537px;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
    margin: 0 auto 40px;
}

.reviews-list {
    display: flex;
    gap: 65px;
}

.reviews-item {
    width: calc((100% - 128px) / 3);
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 28px 26px;
}

.reviews-star-list {
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
}

.reviews-star-icon {
    fill: #f3cd03;
}

.reviews-star-icon-last {
    fill: transparent;
    stroke: #f3cd03;
    stroke-width: 2px;
}

.reviews-item-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
    margin-bottom: 16px;
}

.reviews-item-wrap {
    display: flex;
    align-items: center;
    gap: 14px;
}

.reviews-item-title {
    font-weight: 600;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.reviews-item-subtext {
    font-weight: 500;
    font-size: 14px;
    /* line-height: 24px; */
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: #252b42;
}
/* #endregion */

/* #region promo */
.promo-section {
    padding: 50px 0;
}
.promo-container {
    width: 968px;
    height: 345px;
    border-radius: 32px;
    background-color: #02897a;
    display: flex;
    gap: 10px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.promo-text {
    font-weight: 600;
    font-size: 32px;
    /* line-height: 48px; */
    line-height: 1.5;
    color: #fff;
    margin: 49px 10px 46px 51px;
}

.promo-btn {
    border-radius: 8px;
    width: 150px;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    margin-left: 51px;
}
/* #endregion */

/* #region footer */
.footer-section {
    padding: 50px 0 40px;
}

.footer-wrap {
    display: flex;
    margin-bottom: 10px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-weight: 700;
    font-size: 30px;
    /* line-height: 28px; */
    line-height: 0.93;
    color: #173a56;
    margin-right: 146px;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    gap: 16px;
}

.social-item {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #edfffc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
    fill: transparent;
    stroke: #02897a;
    stroke-width: 2px;
}

.resource-wrap {
    margin-right: 129px;
}

.stuff-wrap {
    margin-right: 83px;
}

.footer-title {
    font-weight: 500;
    font-size: 20px;
    /* line-height: 30px; */
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 8px;
    min-width: 105px;
}

.resource-list {
    max-width: 118px;
}

.stuff-list {
    min-width: 131px;
}

.footer-item-link {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 35px; */
    line-height: 2.1875;
    color: #22343d;
}

.subscribe-title {
    font-weight: 500;
    font-size: 20px;
    /* line-height: 30px; */
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 30px;
}

.subscribe-input-wrap {
    position: relative;
}

.subscribe-input {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 325px;
    height: 48px;
}

.subscribe-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: #02897a;
}

.subscribe-input::placeholder {
    color: #02897a;
    padding-left: 42px;
}

.subscribe-btn {
    margin-top: 25px;
    border-radius: 4px;
    width: 131px;
    height: 39px;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 30px; */
    line-height: 1.875;
    color: #22343d;
    text-align: center;
}
/* #endregion */